crewai[google-genai]
google-genai
openai>=2.30.0,<3
python-dotenv

fastapi
uvicorn
streamlit
requests
pydantic

pandas
numpy
scikit-learn

langchain-community
langchain-core
langchain-huggingface
langchain-text-splitters
sentence-transformers
faiss-cpu

yfinance

nltk
rouge-score
pytest
